<div class="dg-section">
  <div class="dg-section-title">{{localize "DGUI.Section.JournalDatabase"}}</div>

  <div id="dg-journal-warning">
    {{localize "DGUI.Warning"}}
  </div>

  <div style="margin-top: 15px; margin-bottom: 15px;">
    <button id="dg-create-journal-btn" class="dg-button" style="width: 100%;">
      {{localize "DGUI.Button.CreateJournal"}}
    </button>
  </div>

  <div id="dg-journals" style="margin-top: 20px;">
    <ul class="dg-results-list" id="dg-journals-list">
      <!-- Liste des journaux générée dynamiquement -->
    </ul>
  </div>
</div>
