<div class="dg-section" style="width: 100%;">
  <div class="dg-section-title">{{localize "DGUI.Section.SecureMessaging"}}</div>

  <div class="dg-section">
    <div class="dg-section-title">{{localize "DGUI.Section.CommsEncrypted"}}</div>
    <div id="dg-messages-container">
      <!-- Les messages seront chargés ici dynamiquement -->
    </div>
  </div>

  <div class="dg-mail-compose">
    <div class="dg-form-group">
      <textarea id="dg-message-input" class="dg-form-textarea dg-mail-textarea" placeholder="{{localize 'DGUI.Placeholder.EnterMessage'}}"></textarea>
    </div>
  </div>
</div>
