<div class="dg-section">
  <div class="dg-section-title">{{localize "DGUI.Section.SceneAccess"}}</div>

  <div id="dg-scene-warning">
    {{localize "DGUI.Warning"}}
  </div>

  <div id="dg-scene-info" style="margin-top: 20px; text-align: center;">
    <div id="dg-active-scene-name" style="margin-bottom: 15px; font-size: 1.2em;">
      <!-- Nom de la scène active généré dynamiquement -->
      {{localize "DGUI.Label.ActiveScene"}} <span id="dg-scene-name">{{localize "DGUI.Label.Loading"}}</span>
    </div>

    <button id="dg-go-to-scene" class="dg-button" style="width: 200px; padding: 10px; margin: 0 auto; display: block; font-size: 1em;">{{localize "DGUI.Button.GoToScene"}}</button>
  </div>
</div>
